 <section>
                <nav>
                    <ul class="space-y-2 font-medium">
                        <li>
                            <a href="" class="flex items-center p-2 rounded-lg text-white hover:bg-gray-100 hover:bg-gray-700 group">
                                <span class="ms-3">
                                    Most Appearances (Top 10)
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="flex items-center p-2 rounded-lg text-white hover:bg-gray-100 hover:bg-gray-700 group">
                                <span class="flex-1 ms-3 whitespace-nowrap">
                                    Most Goals (Top 10)
                                </span>

                            </a>
                        </li>
                        <li>
                            <a href="" class="flex items-center p-2 rounded-lg text-white hover:bg-gray-100 hover:bg-gray-700 group">
                                <span class="flex-1 ms-3 whitespace-nowrap">
                                    Born in 1970's
                                </span>

                            </a>
                        </li>
                        <li>
                            <a href="" class="flex items-center p-2 rounded-lg text-white hover:bg-gray-100 hover:bg-gray-700 group">
                                <span class="flex-1 ms-3 whitespace-nowrap">Born in 1980's</span>
                            </a>
                        </li>
                    </ul>
                </nav>
        </section> 